<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titos.shareplatform.dao.NewsTagDao">
    <resultMap id="BaseResult" type="com.titos.shareplatform.model.NewsTag">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, tag_name, create_time
    </sql>
    <select id="selectTagNameById" resultType="String">
        select tag_name from news_tag where id = #{id}
    </select>
    <select id="selectAllNewsTag" resultMap="BaseResult">
        select <include refid="Base_Column_List"/> from news_tag
    </select>
    <select id="selectTagByTagName" resultMap="BaseResult">
        select <include refid="Base_Column_List"/>
            from news_tag where tag_name = #{tagName}
    </select>
    <insert id="insertTag"  useGeneratedKeys="true" keyProperty="id">
        insert into news_tag(tag_name, create_time)
        values(#{tagName}, sysdate())
    </insert>
</mapper>