<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titos.shareplatform.dao.PostDao">
    <resultMap id="BaseResult" type="com.titos.info.post.model.Post">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="post_cover" property="postCover" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="INTEGER"/>
        <result column="likes" property="likes" jdbcType="INTEGER"/>
        <result column="is_violation" property="isViolation" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, content, post_cover, user_id, comments, likes, is_violation, create_time
    </sql>
    <insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
        insert into post(title, content, post_cover, user_id, comments, likes, is_violation, create_time) values(#{title}, #{content}, #{postCover}, #{userId}, #{comments}, #{likes}, #{isViolation}, #{createTime});
    </insert>
    <update id="updatePostByIdDynamic" parameterType="com.titos.info.post.model.Post">
        update post
        <set>
            <if test="title != null">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content, jdbcType=VARCHAR},
            </if>
            <if test="postCover != null">
                post_cover = #{postCover, jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId, jdbcType=INTEGER},
            </if>
            <if test="comments != null">
                comments = #{comments, jdbcType=INTEGER},
            </if>
            <if test="likes != null">
                likes = #{likes, jdbcType=INTEGER},
            </if>
            <if test="isViolation != null">
                is_violation = #{isViolation, jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <update id="updateComments">
        update post set comments = comments + #{count} where id = #{postId}
    </update>

    <delete id="deletePostBatchById" parameterType="java.util.List">
        delete from post where id in 
                         <foreach collection="ids" open="(" close=")" separator="," item="item">
                             #{item}
                         </foreach>
    </delete>

    <select id="selectAllPostByUserId" resultType="com.titos.shareplatform.vo.PostVO">
        select
            <include refid="Base_Column_List"/>
        from post
        where user_id = #{userId, jdbcType=INTEGER}
    </select>

    <select id="selectAllPost" resultType="com.titos.shareplatform.vo.PostVO">
        select <include refid="Base_Column_List"/>
            from post
    </select>

    <select id="selectAllPostByDESC" resultType="com.titos.shareplatform.vo.PostVO">
        select <include refid="Base_Column_List"/>
            from post
            order by create_time desc
    </select>

    <select id="selectPostByPostId" resultMap="BaseResult">
        select <include refid="Base_Column_List"/>
            from post where id = #{postId}
    </select>
    <select id="selectTimeByRecentPeriod" resultType="java.time.LocalDateTime">
        select create_time
        from post where (create_time between #{startDate} and #{endDate}) and (user_id = #{userId})
    </select>
    <select id="selectPostByCondition" resultMap="BaseResult">
        select <include refid="Base_Column_List"/>
        from post
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND content like concat('%', #{content}, '%')
            </if>
            <if test="postCover != null and postCover != ''">
                AND post_cover = #{postCover}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="isViolation != null">
                AND is_violation = #{isViolation}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND create_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND create_time &lt;= #{params.endTime}
            </if>
        </where>
    </select>
</mapper>