<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.titos.shareplatform.dao.TaskTagDao">
    <resultMap id="BaseResult" type="com.titos.shareplatform.model.TaskTag">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="tag_id" property="tagId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, task_id, tag_id
    </sql>
    <select id="selectTagIdByTaskId" resultType="Integer">
        select tag_id from task_tag where task_id = #{taskId}
    </select>
    <select id="selectTaskIdsByTagId" resultType="Integer">
        select task_id from task_tag where tag_id = #{tagId}
    </select>
    <delete id="deleteTaskTagByTaskId">
        delete from task_tag where task_id = #{taskId}
    </delete>
    <insert id="insertTaskTag">
        insert into task_tag(task_id, tag_id) values(#{taskId}, #{tagId});
    </insert>
</mapper>